<div class="ui centered very padded raised segment">
	<div class="ui tabular menu">
		<%= link_to "Today Reports", dashboard_path, class: "item " + (@type == 'today' ? 'active' : '') %>
		<%= link_to "All Reports", dashboard_path(date: "all"), class: "item " + (@type == 'all' ? 'active' : '') %>
	</div>
	
	<% unless @type == 'today' %>
		<br/>
		<div class="ui very padded right aligned container">
			<%= form_with url: dashboard_path, method: :get, local: true do |f| %>
				Filter: &ensp;
				<div class="ui input">
					<%= date_field_tag :date %>
				</div>
				&ensp;&ensp;&ensp;
				<%= f.submit "Apply", class: "ui basic orange button"  %>
			<% end %>
		</div>
		<br/>
	<% end %>
	
	<div class="daily-reports">
		<% if @daily_reports.present? %>
			<%= render @daily_reports %>
		<% else %>
			<div class="ui center aligned very padded container">No reports added for the date yet</div>
		<% end %>
	</div>
</div>