<div class="form container">
	<div class="ui raised placeholder auth-form segment">
		<h2 class="ui center aligned middle aligned orange header">Sign up</h2>
		<hr/>
		
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui form"}) do |f| %>
			
			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name, autocomplete: "off" %>
			</div>
			
			<div class="field">
				<%= f.label :avatar_url %>
				<%= f.url_field :avatar_url, autocomplete: "off" %>
			</div>
			
			<div class="field">
				<%= f.label :email %>
				<%= f.email_field :email, autocomplete: "off" %>
			</div>
			
			<div class="field">
				<%= f.label :password %>
				<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters min)</em>
				<% end %>
				<%= f.password_field :password, autocomplete: "off" %>
			</div>
			
			<div class="field">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
			</div>
			
			<div class="field">
				<%= f.label :account_type %>
				<%= f.select :accountable_type, [%w(Intern Intern), %w(Trainer Trainer), %w(Admin Admin)] %>
			</div>
			
			<div class="field">
				<%= f.label :technology %> <em>(Only required for Interns)</em>
				<%= text_field_tag :technology, "", autocomplete: "off" %>
			</div>
			
			<div class="field">
				<%= f.label :course_name %> <em>(Only required for Trainers)</em>
				<%= text_field_tag :course_name, "", autocomplete: "off" %>
			</div>
			
			<div class="field">
				<%= f.label :batch_name %> <em>(Not required for admin)</em>
				<%= text_field_tag :batch_name, "", autocomplete: "off" %>
			</div>
			
			<br/>
			<%= render "devise/shared/error_messages", resource: resource %>
			
			<div class="field actions">
				<%= f.submit "Sign up", class: "ui basic orange button" %>
			</div>
		<% end %>
	</div>
</div>