<div class="form container">
	<div class="ui raised placeholder auth-form segment">
		<h2 class="ui center aligned middle aligned orange header">Change your password</h2>
		<hr/>
		
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "ui form" }) do |f| %>
			
			<div class="field">
				<%= label_tag :current_password %>
				<%= password_field_tag :current_password, "", autofocus: true, autocomplete: "off"  %>
				<%= render "shared/error", model: resource, field: :current_password %>
			</div>
			
			<div class="field">
				<%= f.label :password, "New password" %><br/>
				<%= f.password_field :password, autocomplete: "off" %>
				
				<%= render "shared/error", model: resource, field: :password %>
			</div>
			
			
			<div class="field">
				<%= f.label :password_confirmation, "Confirm new password" %><br/>
				<%= f.password_field :password_confirmation, autocomplete: "off" %>
				<%= render "shared/error", model: resource, field: :password_confirmation %>
			</div>
			
			<br/>
			
			<div class="field actions">
				<%= f.submit "Change my password", class: "ui basic orange button" %>
			</div>
		<% end %>
	</div>
</div>