<div class="section-flex">
	<div class="ui steps">
		<a class="active step">
			<div class="content">
				Day <%= day %>
				<% unless section.days_required == 1 %>
					- <%= day + section.days_required - 1 %>
				<% end %>
			</div>
		</a>
		<%= link_to section_path(section), class: "step" do %>
			<div class="content">
				<div class="title"><%= section.title %></div>
			</div>
		<% end %>
		<a class="step">
			<div class="content">
				<div class="description"><%= section.context %></div>
			</div>
		</a>
	</div>
	
	<% unless current_account.intern? %>
		<div class="ui icon menu">
			<%= link_to edit_section_path(section), class: "item" do %>
				<i class="edit orange icon"></i>
			<% end %>
			<%= link_to section_path(section), class: "item", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
				<i class="trash orange icon"></i>
			<% end %>
		</div>
	<% end %>
</div>