<div class="ui section placeholder segment">
	<div class="ui two column very relaxed stackable grid">
		<div class="middle aligned column">
			<h3 class="ui center aligned header">Section Details</h3>
			<table class="ui definition table">
				<tbody>
				<tr>
					<td class="two wide column">Title</td>
					<td><%= @section.title %></td>
				</tr>
				<tr>
					<td>Days</td>
					<td><%= @section.days_required %> days</td>
				</tr>
				<tr>
					<td>Objectives</td>
					<td><%= simple_format h @section.context %></td>
				</tr>
				
				<% unless @section.references.empty? %>
					<tr>
						<td>References</td>
						<td>
							<ul>
								<% @section.references.each do |reference| %>
									<li><%= link_to reference.url, reference.url %>&ensp;&ensp;
										<%= link_to edit_reference_path(reference) do %>
											<i class="edit blue link icon"></i>
										<% end %>
										<%= link_to reference_path(reference), data: { turbo_method: :delete, turbo_confirm: "Are you Sure?" } do %>
											<i class="trash blue link icon"></i>
										<% end %>
									</li>
								<% end %>
							</ul>
						</td>
					</tr>
				<% end %>
				
				<% unless @daily_reports.empty? %>
					<tr>
						<td>Start date</td>
						<td><%= @daily_reports.last.date.strftime("%a, %d %b %Y") %>
					</tr>
					
					<% if @daily_reports.first.completed? %>
						<tr>
							<td>End date</td>
							<td><%= @daily_reports.first.date.strftime("%a, %d %b %Y") %>
						</tr>
					<% end %>
				<% end %>
				</tbody>
			</table>
			<br/>
		</div>
		<div class="column">
			<h3 class="ui center aligned header">Create Daily Report</h3>
			<%= render partial: "daily_reports/form", locals: { section: @section, daily_report: @daily_report } %>
		</div>
		
<!--		<div class="center aligned middle aligned column">-->
<!--			<h3 class="ui center aligned header">Add reference</h3>-->
			<%#= render partial: "references/form", locals: { section: @section, reference: @reference } %>
<!--		</div>-->
	
	</div>
	<div class="ui vertical divider">
		<i class="tasks icon"></i>
	</div>
</div>

<br/>
<br/>
<h2 class="ui header">Reports: </h2>
<div class="daily-reports">
	<%= render @daily_reports %>
</div>