<div class="ui raised report segment" id=<%= dom_id(daily_report) %>>
	
	<div class="username">
		<%= avatar_url(daily_report.intern.account) %>
		<b class="ui blue text" style="font-size: 1.1em">
			<%= link_to daily_report.intern.name.capitalize, account_path(daily_report.intern.account) %>
		</b>
		
		<div class="ui right aligned container status">
			<h4 class="ui inline header">Status:</h4>
			<div class="ui <%= daily_report.ongoing? ? "yellow" : "green" %> label">
				<%= daily_report.status %>
			</div>
		</div>
	</div>
	
	<div class="content">
	<% if current_account.admin_user? %>
		<h4 class="ui inline header">Batch: </h4>&ensp;<%= daily_report.intern.batch.name %>
		<br/>
	<% end %>
	
	<h4 class="ui inline header">Date:</h4>&ensp;<%= daily_report.date.strftime("%a, %d %b %Y") %>
	<h4 class="ui header">Progress:</h4>
	<div class="progress"><%= simple_format h daily_report.progress %></div>
	
	<% if daily_report.feedback.present? %>
		<br/>
		<h4 class="ui header">Feedback:</h4>
		<div class="progress"><%= simple_format h daily_report.feedback %></div>
	<% end %>
	
	<% feedback ||= false %>
	<% unless current_account.intern? %>
		<br/>
		<%= link_to "View Section", section_path(daily_report.section_report.section_id), class: "orange" %>
		<% if current_account.trainer? %>
			<% unless feedback %>
				&ensp; | &ensp;
				<%= link_to "Give feedback", feedback_daily_report_path(daily_report), class: "orange", method: :get %>
			<% end %>
		<% end %>
	<% end %>
	
	<% if current_account.trainer? && feedback %>
		<br/><br/>
		<%= render partial: 'daily_reports/feedback_form', locals: { daily_report: daily_report } %>
	<% end %>
	
	<% if current_account.intern? %>
		<div class="ui icon menu">
			<%= link_to edit_daily_report_path(daily_report), class: "item" do %>
				<i class="edit orange icon"></i>
			<% end %>
			<%= link_to daily_report_path(daily_report), class: "item", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
				<i class="trash orange icon"></i>
			<% end %>
		</div>
	<% end %>
	</div>
	
	
</div>