<!DOCTYPE html>
<html>
<head>
	<title>InternReview</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
	<nav class="ui nav-section">
		<div class="ui huge header"> Intern Review </div>
	</nav>
	
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
