<!DOCTYPE html>
<html>
<head>
	<title>InternReview</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
	<nav class="ui nav-section menu">
		<%= link_to reports_path, class: "item" do %>
			<div class="ui huge header">
				<%= image_tag "intern-logo.svg", class: "logo" %>
				Intern Review
			</div>
		<% end %>
		
		<div class="right menu">
			<% unless account_signed_in? %>
				<%= link_to "LOG IN", new_account_session_path, class: "sign-up item" %>
			<% else %>
				<%= link_to "COURSES", courses_path, class: "item" %>
				<% unless current_account.intern? %>
					<%= link_to "REPORTS", reports_path, class: "item" %>
				<% end %>
				<%= link_to "PROFILE", account_path(current_account.id), class: "item" %>
				<%= link_to "LOG OUT", destroy_account_session_path, class: "sign-up item", data: {turbo_method: :delete, turbo_confirm: "Are you Sure?"} %>
			<% end %>
		</div>
	</nav>
	
	<% if notice %>
		<div class="ui positive notice message" style="width: max-content; margin: auto">
			<%= notice %>
			<i class="close icon"></i>
		</div>
	<% end %>
	
	<% if alert %>
		<div class="ui negative alert message" style="width: max-content; margin: auto">
			<%= alert %>
			<i class="close icon"></i>
		</div>
	<% end %>
	
	<div id="main">
		<%= yield %>
	</div>

	<script>
		document.querySelector('.message .close.icon').addEventListener('click', (ev)=> { ev.target.parentElement.style.display = "none";});
	</script>
</body>
</html>
