<div class="ui very padded centered raised account segment">
	
	<h2 class="ui orange center aligned header">Account Details</h2>
	<table class="ui definition table">
		<tbody>
		<tr>
			<td class="four wide column">Name</td>
			<td><%= @account.name.capitalize %></td>
		</tr>
		
		<tr>
			<td>Email</td>
			<td><%= @account.email %></td>
		</tr>
		
		<tr>
			<td>Account Type</td>
			<td><%= @account.accountable_type %></td>
		</tr>
		
		<% unless @account.admin_user? %>
			<tr>
				<td>Batch Name</td>
				<td><%= @batch.name %></td>
			</tr>
		<% end %>
		
		<% if @account.intern? %>
			<tr>
				<td>Current Technology</td>
				<td><%= @user.technology %></td>
			</tr>
			
			<tr>
				<td>Courses Enrolled</td>
				<td>
					<ul>
						<% @course_reports.each do |course_report| %>
							<% if current_account.admin_user? %>
								<li><%= course_report.course.title %>
									(<%= link_to "Add Review", new_course_report_review_path(course_report) %>)
								</li>
							<% else %>
								<li> <%= course_report.course.title %></li>
							<% end %>
						<% end %>
					</ul>
				</td>
			</tr>
			
			<tr>
				<td>Trainers</td>
				<td>
					<ul>
						<% @trainers.each do |trainer| %>
							<li><%= trainer.name %></li>
						<% end %>
					</ul>
				</td>
			</tr>
		<% elsif @account.trainer? %>
			<tr>
				<td>Interns</td>
				<td>
					<ul>
						<% @interns.each do |intern| %>
							<li><%= link_to intern.account.name, account_path(intern.account) %>&ensp;
								(<%= intern.technology %>)
							</li>
						<% end %>
					</ul>
				</td>
			</tr>
		<% end %>
		
		</tbody>
	</table>
	
	<% if @account.admin_user? %>
		<br/><br/>
		<h3 class="ui orange header">Batches Details</h3>
		
		<table class="ui celled table">
			<tbody>
			<thead>
			<tr>
				<th>Batch Name</th>
				<th>Trainers</th>
				<th>Interns</th>
			</tr>
			</thead>
			
			<% @batches.each do |batch| %>
				<tr>
					<td><%= batch.name %></td>
					
					<td>
						<ul>
							<% batch.trainers.each do |trainer| %>
								<li><%= link_to trainer.name, account_path(trainer.account) %></li>
							<% end %>
						</ul>
					</td>
					
					<td>
						<ul>
							<% batch.interns.each do |intern| %>
								<li><%= link_to intern.name, account_path(intern.account) %></li>
							<% end %>
						</ul>
					</td>
				<tr>
			<% end %>
		</table>
	<% end %>
</div>
<div class="ui very padded segment">
	
	<% if @account.intern? %>
		<h2 class="ui header">Reports:</h2>
		
		<% @section_reports.each do |section_report| %>
			<% section = section_report.section %>
			<div class="ui very padded placeholder segment">
				<div class="ui steps">
					<a class="active step">
						<div class="content">
							<%= section.days_required %> <%= section.days_required > 1 ? "days" : "day" %> Time
						</div>
					</a>
					<%= link_to section_path(section), class: "step" do %>
						<div class="content">
							<div class="title"><%= section.title %></div>
						</div>
					<% end %>
					<% if section_report.start_date %>
						<a class="step">
							<div class="content">
								<b>Start Date:</b> <%= section_report.start_date.strftime("%a, %d %b %Y") %><br/>
							</div>
						</a>
					<% end %>
					<% if section_report.end_date %>
						<a class="step">
							<div class="content">
								<b>End Date:</b> <%= section_report.end_date.strftime("%a, %d %b %Y") %>
							</div>
						</a>
					<% end %>
				</div>
				
				<div class="profile daily-reports">
					<%= render section_report.daily_reports %>
				</div>
			</div>
		<% end %>
	<% elsif @account.trainer? %>
		<h2 class="ui header">Course Handling:</h2>
		<div id="courses">
			<%= render @course %>
		</div>
	<% elsif @account.admin_user? %>
		<h2 class="ui header">Reviews:</h2>
		<div id="reviews">
			<%= render @reviews %>
		</div>
	<% end %>
</div>